.tree-view {
  font-size: 1em;
  line-height: 100%;
}

.tree-view-ul {
  height: inherit;
}

.tree-view-li {
  list-style-type: none;
  margin-bottom: 2px;
  padding-left: 1em;
}

.tree-node-icon {
  width: 16px;
}

.tree-node-title {
  margin-top: 3px;
}

.tree-node-p {
  cursor: pointer;
  display: flex;
}

.tree-node-p-can-toggle {
  color: #815c7c;
  margin: 0;
}

.tree-node-p-no-toggle {
  color: #fff;
  margin: 0;
}

.tree-node-icon {
  height: 21px;
  margin-right: 10px;
  width: 16px;
}
