.file-container {
  border: solid 0px darkslategray;
  font-family: 'Lucida Console', Monaco, monospace;
  height: calc(100% - 40px);
  overflow: auto;
  padding: 0;
  width: calc(70% - 40px);
}

.file-view {
  background-color: #001000;
  color: #ccc;
  margin: 5px 20px 5%;
  overflow: auto;
  width: 100%;
}

.file-view-html {
  width: 100%;
}
